//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/dmenu.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
@theme "~/.config/rofi/themes/my-theme.rasi"

